.table,td,tr{
    border:1px solid rgb(43, 72, 73);
    padding: 20px;
table{
    margin-top:50px ;
    background-color: rgb(209, 253, 255);
}

.box{
    margin: auto;
    padding: 50px;
    background-color: cadetblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 200px;
    height: 25px;

}

.btn{
    width: 100px;
    height: 30px;
    background-color: rgb(151, 255, 46);
    border-color: rgb(38, 77, 0);
}