@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://unsplash.com/photos/5jay5exvpuE");
    
}

.select,.put{
    width: 300px;
    height: 60px;
    margin: 20px;
    background-color:rgb(238, 238, 238) ;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    
    
}
label{
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.btn{
    width: 80px;
    height: 40px;
    background-color: yellowgreen;
    border-radius: 7%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
